header {
  height: 60px;
  background-color: #233554;
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

header > a {
  margin-left: 1.5rem;
  color: white;
}