/* Colors 
Rich Black: #023C40
Twilight Lavender: #795162
Steel Blue: #347FC4
Middle Blue Green: #7CE8DC
Magnolia: #F3F2FE (off-white)

Cerulean Frost: #6B9AC4
Medium Turquoise: #37D2CD
Purple: #7105BE
Cultured: #EFF2F1 (off-white)
Maximum Yellow Red: #F4B942

Eerie Black: #383838
*/


html {
  font-size: 16px;
}

body,html {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #EFF2F1;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  color: #383838;
  font-size: 2.5rem;
  margin: 1.8rem 0;
  font-weight: 500;
}

.keys {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.key {
  border: .25rem solid #245a8d;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .3rem;
  transition: all .07s ease;
  width: 6rem;
  text-align: center;
  color: white;
  background: rgb(38 87 136 / 80%);
  text-shadow: 0 0 .5rem black;
  cursor: pointer;
}

.key:hover {
  box-shadow: 0 0 10px #383838;
}

.emphasized {
  transform: scale(1.1);
  border-color: #F4B942;
  box-shadow: 0 0 1rem #F4B942;
}

kbd {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
}

.sound {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 75%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container-grid {
  width: 75%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}