/* From JS30 */
html {
  font-size: 16px;
}

body,html {
  font-family: sans-serif;
  background-color: #F9F7F7;
}

h1 {
  color: #233554;
  font-size: 2.5rem;
  margin: 1.8rem 0;
}

.keys {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.key {
  border: .25rem solid #233554;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .3rem;
  transition: all .07s ease;
  width: 6rem;
  text-align: center;
  color: white;
  background: rgba(35,53,84,0.8);
  text-shadow: 0 0 .5rem black;
}

.emphasized {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
}

.sound {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #EAE8E5;
}

.content-container {
  width: 75%;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}