/* Colors 
Rich Black: #023C40
Twilight Lavender: #795162
Steel Blue: #347FC4
Middle Blue Green: #7CE8DC
Magnolia: #F3F2FE (off-white)

Cerulean Frost: #6B9AC4
Medium Turquoise: #37D2CD
Purple: #7105BE
Cultured: #EFF2F1 (off-white)
Maximum Yellow Red: #F4B942

Eerie Black: #383838
*/


html {
  font-size: 16px;
}

body,html {
  font-family: 'Libre Franklin', sans-serif;
  background-color: #EFF2F1;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1 {
  color: #383838;
  font-size: 2.5rem;
  margin: 1.8rem 0;
  font-weight: 500;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.content-container {
  width: 75%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container-grid {
  width: 75%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

.card-container {
  overflow: hidden;
  height: 13rem;
  width: 13rem;
  border-radius: 8px;
  transition: box-shadow ease 0.25s;
  margin-right: 3rem;
}

.card-container:hover {
  box-shadow: 0 0 10px #383838;
}

.js30-day-card {
  height: 13rem;
  width: 13rem;
  display: flex;
}

picture.js30-day-card {
  position: relative;
  cursor: pointer;
}

picture.js30-day-card:after {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(113, 5, 190, 0.2), rgba(113, 5, 190, 0.2));
  border-radius: 8px;
}

.js30-day-card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: relative;
  transition: top .3s ease-out;
  background-color: #795162;
  color: white;
}

.card-content > .flex-row-between {
  cursor: pointer;
  font-size: 1.25rem;
  width: 100%;
  padding: 1rem;
}

.slide-in {
  top: -100%;
}

.button {
  background-color: #EFF2F1;
  color: #383838;
  font-weight: 600;
  border-radius: 4px;
  padding: 0.6rem 0.5rem;
  width: 45%;
  margin: 1rem auto;
  text-align: center;
  letter-spacing: 0.05rem;
}