.card-container {
  overflow: hidden;
  height: 13rem;
  width: 13rem;
}

.js30-day-card {
  height: 13rem;
  width: 13rem;
  display: flex;
  border-radius: 8px;
}

picture.js30-day-card {
  position: relative;
  cursor: pointer;
}

picture.js30-day-card:after {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(113, 5, 190, 0.2), rgba(113, 5, 190, 0.2));
  border-radius: 8px;
}

.js30-day-card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: relative;
  transition: top .3s ease-out;
  background-color: #795162;
  color: white;
}

.card-content > .flex-row-between {
  cursor: pointer;
  font-size: 1.25rem;
  width: 100%;
  padding: 1rem;
}

.slide-in {
  top: -100%;
}

.button {
  background-color: #EFF2F1;
  color: #023C40;
  font-weight: 600;
  border-radius: 4px;
  padding: 0.6rem 0.5rem;
  width: 45%;
  margin: 1rem auto;
  text-align: center;
  letter-spacing: 0.05rem;
}